@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
/* #E2E2E2 */
/* #171717 */
.bgColorGradient {
  background: rgb(91, 33, 182);
  background: radial-gradient(
    circle,
    rgba(91, 33, 182, 1) 0%,
    rgba(38, 38, 38, 1) 40%
  );
}
.topGradient {
  background: rgb(51, 18, 100);
  background: linear-gradient(
    177deg,
    rgba(51, 18, 100, 1) 5%,
    rgba(212, 212, 216, 0) 20%
  );
}
.topGradientLight {
  background: rgb(51, 18, 100);
  background: linear-gradient(
    177deg,
    rgba(124, 58, 237, 1) 5%,
    rgba(212, 212, 216, 0) 20%
  );
}
.bottomGradient {
  background: rgb(51, 18, 100);
  background: linear-gradient(
    357deg,
    rgba(51, 18, 100, 1) 5%,
    rgba(212, 212, 216, 0) 10%
  );
}
.bottomGradientLight {
  background: rgb(51, 18, 100);
  background: linear-gradient(
    357deg,
    rgba(124, 58, 237, 1) 5%,
    rgba(212, 212, 216, 0) 10%
  );
}
.bgColorGradientLight {
  background: rgb(91, 33, 182);
  background: radial-gradient(
    circle,
    rgba(91, 33, 182, 1) 0%,
    rgba(212, 212, 216, 1) 40%
  );
}
#LineA,
#LineB {
  transition: all 0.5s ease;
}
#menu {
  transition: all 0.5s ease;
  z-index: -1;
}
.LineA {
  transform: translate(20px, -14px) rotate(45deg);
}
.LineB {
  transform: translate(-50px, 48px) rotate(-45deg);
}
.fade-in {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}
.fade-out {
  opacity: 1;
  animation: fade-out 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 0.75em 0 0;
}
ul.icons li a {
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px #e2e2e2;
  display: flex;
  height: 2rem;
  line-height: 2.25rem;
  text-align: center;
  width: 2rem;
  filter: brightness(80%);
}

ul.icons li a:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

ul.icons li a:active {
  background-color: rgba(255, 255, 255, 0.175);
}

.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover,
.hvr-grow-rotate:active {
  -webkit-transform: scale(1.3) rotate(6deg);
  transform: scale(1.3) rotate(6deg);
}

.hvr-grow-rotate-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate-left:hover,
.hvr-grow-rotate-left:focus,
.hvr-grow-rotate-left:active {
  -webkit-transform: scale(1.2) rotate(-6deg);
  transform: scale(1.2) rotate(-6deg);
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
@keyframes animateUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-up-down {
  animation: animateUpDown 5s ease-in-out infinite;
}
@keyframes animateLeftRight {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-left-right {
  animation: animateLeftRight 3s ease-in-out infinite;
}
.layer1 {
  animation-delay: 0s;
}
.layer2 {
  animation-delay: 0.75s;
}
.layer3 {
  animation-delay: 1.5s;
}
.darkBorder {
  background: rgb(76, 29, 149);
  background: linear-gradient(
    153deg,
    rgba(76, 29, 149, 0.8) 15%,
    rgba(24, 24, 27, 0.5) 35%,
    rgba(212, 212, 216, 0) 55%
  );
}
.lightBorder {
  background: rgb(76, 29, 149);
  background: linear-gradient(
    153deg,
    rgba(76, 29, 149, 0.8) 15%,
    rgba(212, 212, 216, 0) 35%,
    rgba(212, 212, 216, 0) 55%
  );
}
.transparentZinc800 {
  background: rgba(39, 39, 42, 0.75);
}
.transparentZinc300 {
  background: rgba(212, 212, 216, 0.75);
}
.borderRadiusTransform {
  border-radius: 50px;
  transition: border-radius ease 0.4s;
}
.borderRadiusTransform:hover {
  border-radius: 15px;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logoSpinner:hover {
  animation: spinner 1.5s ease;
}
@keyframes shaker {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(15deg);
  }
  66% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.shaker:hover {
  animation: shaker 0.5s ease;
}
.scollDisabled {
  overflow: hidden;
}
.modal-open {
  filter: blur(3px);
  transition: filter 0.3s ease-in-out;
}
.modal-offset {
  margin-top: -100vh;
}
.stopIT {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 14px;
}

.danger-zone-bg {
  background-color: rgba(185, 28, 28, 0.5);
}
